*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue",
              Arial, sans-serif,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo;
}

a{
  text-decoration: none;
}